
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

/* Scrollbar bonita (webkit + firefox) */
.scrollbar-pretty {
  scrollbar-width: thin;
  scrollbar-color: rgb(161 161 170) transparent; /* zinc-400 */
}

.dark .scrollbar-pretty {
  scrollbar-color: rgb(82 82 91) transparent; /* zinc-600 */
}

.scrollbar-pretty::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-pretty::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-pretty::-webkit-scrollbar-thumb {
  background-color: rgb(212 212 216); /* zinc-300 */
  border-radius: 9999px;
  border: 3px solid transparent; /* cria “padding” visual */
  background-clip: content-box;
}

.dark .scrollbar-pretty::-webkit-scrollbar-thumb {
  background-color: rgb(63 63 70); /* zinc-700 */
}

.scrollbar-pretty::-webkit-scrollbar-thumb:hover {
  background-color: rgb(161 161 170); /* zinc-400 */
}

.dark .scrollbar-pretty::-webkit-scrollbar-thumb:hover {
  background-color: rgb(82 82 91); /* zinc-600 */
}

.scrollbar-pretty {
  scrollbar-gutter: stable;
}
